<%= form_for [wiki] do |f| %>
  <div class='form_group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form_control', placeholder: 'Enter wiki name' %>
  </div>
  <div class='field'>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form_control', placeholder: 'Enter wiki body' %>
  </div>
  <% if current_user.admin? || current_user.premium? %>
    <div class='form_group'>
      <%= f.label :private %>
      <%= f.check_box :private %> Private Wiki
    </div>
  <% end %>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>